.footer{
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 0;
    background-color: #ffebcc;
    margin: 0;
    width: 100%;
    padding: 10px;
}

.footer > h5{
    margin: 0;
}

.footer > h5:nth-child(1){
    margin-bottom: 5px;
}

.footer > h6>a{
    text-decoration: none;
}
